.DS_STORE
.eclipse
.idea
.project
/project/project
/project/target
/target
project/project
project/target
target
/__dest
/lib/
/logs/
/modules
/dist/
/db
test-result
server.pid
*.eml
.cache
*.swp
bin/
