.DS_STORE
.idea
.project
/common
/target
/project/project/*
/project/target/*
/lib/*
/tags
*.swp
/.arcconfig
/src/test/resources/trial.license
/src/main/main.iml
/src/test/test.iml
/__dest
/confd/bin
/confd/config
/confd/templates/frontend
/debug
